@import "./variables";

footer {
    background-color: $dark-blue;
    width: 100%;
    padding-top: 50px;
    margin-top: 50px;

    .flex-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;

        @media (max-width: 1024px) {
            flex-wrap: wrap;
        }
    }

    h4 {
        color: $white;
        margin-bottom: 20px;
        font-size: $font-size-small-medium;

        @media (min-width: 1024px) {
            font-size: $font-size-x-large;
        }
    }
}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    & li {
        font-size: $font-size-small;
        line-height: 1.75rem;
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: $font-secondary;
        text-transform: uppercase;
        width: fit-content;
        padding: 6px 16px;
        background-color: $orange;
        margin-bottom: 12px;
        min-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;

        & a {
            color: $white;
            width: 100%;
            text-align: center;
        }

        &:hover {
            background-color: $orange-btn-hover;
        }
    }
}

.footer-hours {
    .day {
        font-size: $font-size-small;
        line-height: 1.1;
        color: $white;
        margin-bottom: 12px;
        opacity: 0.7;

        span {
            font-weight: bold;
        }
    }

    .today {
        opacity: 1;

        &::after {
            content: '\25C0';
            color: $white;
            padding-left: 8px;
        }
    }

    @media (max-width: 1024px) {
        margin-bottom: 30px;
    }
}

.footer-copyright {
    border-top: 1px solid $white;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    a {
        padding: 0 10px;
        text-align: center;
        color: $white;
        text-decoration: none;
    }
}

@media (max-width: 1024px) {

    .footer-menu,
    .footer-map,
    .footer-tickets,
    .footer-hours {
        flex: 1 1 50%;
    }
}

@media (max-width: 767px) {

    .footer-menu,
    .footer-map,
    .footer-tickets,
    .footer-hours {
        flex: 1 1 100%;
    }
}