@import "./variables";

header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 1000;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 8px 0;
        width: 100%;

        @media (max-width: 1024px) {
            align-items: center;
        }
    }

    .header-left-block {
        display: flex;
        align-items: end;
    }

    .header-btn-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;

        @media (max-width: 1024px) {
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            margin-right: 20px;
        }
    }

    .btn-buy-tickets {
        display: block;
        padding: .375rem 1rem;
        font-size: 1rem;
        font-family: $font-secondary;
        color: $white;
        line-height: 1.3;
        background-color: $orange;


        @media (min-width: 1380px) {
            font-size: 1.3rem;
        }

        @media (min-width: 1024px) {
            margin-bottom: 3px;
        }
    }
}

.logo {
    margin-right: 20px;
    max-width: 140px;

    img {
        max-width: 140px;
    }

    @media (max-width: 1024px) {
        margin-right: auto;
    }

    @media (min-width: 1024px) {
        max-width: 170px;

        img {
            max-width: 170px;
        }
    }

    @media (min-width: 1140px) {
        max-width: 220px;

        img {
            max-width: 220px;
        }
    }

    @media (min-width: 1200px) {
        max-width: 280px;

        img {
            max-width: 280px;
        }
    }
}

.menu-wrapper {
    display: flex;

    @media (max-width: 1024px) {
        position: fixed;
        top: 52px;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: $white;
        padding: 0 20px;
        transition: right 0.3s ease 0s;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.menu-wrapper._active {
    right: 0;
}

.menu-icon {
    display: none;
}

.menu-list,
.menu-sub-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: $font-secondary;
    text-transform: uppercase;
}

.menu-sub-list {
    font-size: 1.375rem;
    line-height: 1.3;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    z-index: 5;

    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    padding: 8px;
    background-color: $dark-blue;

    & li>a {
        color: $white;
    }

    @media (min-width: 1380px) {
        min-width: 300px;
    }

    @media (max-width: 1024px) {
        display: none;
        opacity: 1;
        visibility: visible;
        position: relative;
        background-color: $white;

        & li>a {
            color: $orange;
        }
    }
}

.menu-list {
    display: flex;
    align-items: center;

    & li {
        position: relative;
        padding: .5rem;
        font-size: 1rem;
        line-height: 1.3;
        transition: background-color 0.3s, color 0.3s;

        @media (max-width: 1024px) {
            font-size: 1.625rem;
        }

        @media (min-width: 1380px) {
            font-size: 1.3rem;
        }

        @media (min-width: 1024px) {
            &:has(.menu-sub-list):hover {
                background-color: $dark-blue;
                color: $white;

                .menu-link {
                    color: $white;
                }
            }
        }

        &:hover>a {
            color: $light-blue;
        }
    }

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

}

body._pc .menu-list>li:hover .menu-sub-list {
    opacity: 1;
    visibility: visible;
}

.menu-link {
    color: $dark-blue;
}

@media (max-width: 1024px) {
    .menu-icon {
        display: block;
        min-width: 32.8px;
        height: 32.8px;
        background-color: $dark-blue;
        position: relative;
        z-index: 3;
    }

    .menu-icon span,
    .menu-icon span::before,
    .menu-icon span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: $white;
    }

    .menu-icon span::before,
    .menu-icon span::after {
        content: '';
        display: block;
        transition: 0.2s;
    }

    .menu-icon span::before {
        transform: translateY(-5px);
    }

    .menu-icon._active span {
        height: 0;
    }

    .menu-icon span::after {
        transform: translateY(5px);
    }

    .menu-icon._active span:before {
        transform: rotate(-45deg);
        transform-origin: center;
    }

    .menu-icon._active span:after {
        transform: rotate(45deg);
        transform-origin: center;
    }

}