@import "./variables";

header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 1000;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 8px 0;
        width: 100%;
    }

    .header-left-block {
        display: flex;
        align-items: end;
    }

    .header-btn-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .btn-buy-tickets {
        display: block;
        padding: .375rem 1rem;
        font-size: 1rem;
        font-family: $font-secondary;
        color: $white;
        line-height: 1.3;
        background-color: $orange;
        margin-bottom: 3px;

        @media (min-width: 1380px) {
            font-size: 1.3rem;
        }
    }
}

.logo {
    margin-right: 20px;
    max-width: 140px;

    img {
        max-width: 140px;
    }

    @media (min-width: 1024px) {
        max-width: 170px;

        img {
            max-width: 170px;
        }
    }

    @media (min-width: 1140px) {
        max-width: 220px;

        img {
            max-width: 220px;
        }
    }

    @media (min-width: 1200px) {
        max-width: 280px;

        img {
            max-width: 280px;
        }
    }
}

.menu-wrapper {
    display: flex;

    @media (max-width: 1024px) {
        position: fixed;
        top: 52px;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: $white;
        padding: 0 20px;
        transition: right 0.3s ease 0s;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.menu-wrapper._active{
    right: 0;
}

.menu-icon {
    display: none;
}

.menu-icon._active span {
    transform: scale(0) translate(0px, -50%);
}

.menu-icon._active::before {
    top: 50%;
    transform: rotate(-43deg) translate(4px, -50%);
}

.menu-icon._active::after {
    bottom: 50%;
    transform: rotate(43deg) translate(3px, -50%);
}

.menu-list,
.menu-sub-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: $font-secondary;
    text-transform: uppercase;
}

.menu-sub-list {
    font-size: 1.375rem;
    line-height: 1.3;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    z-index: 5;

    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    padding: 8px;
    background-color: $dark-blue;

    & li>a {
        color: $white;
    }

    @media (min-width: 1380px) {
        min-width: 300px;
    }

    @media (max-width: 1024px) {
        display: none;
        opacity: 1;
        visibility: visible;
        position: relative;
        background-color: $white;

        & li>a {
            color: $orange;
        }
    }
}

.menu-list {
    display: flex;
    align-items: center;

    & li {
        position: relative;
        padding: .5rem;
        font-size: 1rem;
        line-height: 1.3;
        transition: background-color 0.3s, color 0.3s;

        @media (max-width: 1024px) {
            font-size: 1.625rem;
        }

        @media (min-width: 1380px) {
            font-size: 1.3rem;
        }

        @media (min-width: 1024px) {
            &:has(.menu-sub-list):hover {
                background-color: $dark-blue;
                color: $white;

                .menu-link {
                    color: $white;
                }
            }
        }

        &:hover>a {
            color: $light-blue;
        }
    }

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

}

body._pc .menu-list>li:hover .menu-sub-list {
    opacity: 1;
    visibility: visible;
}

.menu-link {
    color: $dark-blue;
}



@media (max-width: 1024px) {
    .menu-icon {
        z-index: 1001;
        display: block;
        position: relative;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: $dark-blue;
    }

    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after {
        position: absolute;
        /*  left: 3px; */
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: $white;

    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }

    .menu-icon::before {
        top: 0;
    }

    .menu-icon::after {
        bottom: 0;
    }

    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    /*  .menu-wrapper {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu-list>li {
        margin-bottom: 20px;
    }

    .menu-sub-list {
        position: relative;
        flex: 1 1 100%;
        display: none;
    } */
}