@import 'variables';

@font-face {
    font-family: 'Kozuka Gothic Pro M';
    src: url('/fonts/Kozuka Gothic Pro M.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kozuka Gothic Pro H';
    src: url('/fonts/Kozuka Gothic Pro H.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: $font-primary;
    color: $black;
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body._lock {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-secondary;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.hidden {
    display: none;
}

.input-disabled {
    background-color: #e9ecef;
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .container {
        padding: 0 4rem;
    }
}

.fc-event.Infants-and-Toddlers {
    background-color: #00BFFF;
    /* SkyBlue */
    border-color: #00BFFF;
}

.fc-event.Ages-2-5yrs {
    background-color: #FFA500;
    /* Orange */
    border-color: #FFA500;
}

.fc-event.Ages-3-5yrs {
    background-color: #800080;
    /* Purple */
    border-color: #800080;
}

.fc-event.Ages-3-7-Years {
    background-color: #FF69B4;
    /* HotPink */
    border-color: #FF69B4;
}

.fc-event.Grade-2 {
    background-color: #f2de0a;
    /* Yellow */
    border-color: #f2de0a;
}

.fc-event.All-Ages {
    background-color: #32CD32;
    /* LimeGreen */
    border-color: #32CD32;
}