@import "./variables";

main {
    flex: 1;
    width: 100%;
    padding-top: 53px;

    li,
    p {
        line-height: 1.5;
    }

    @media (min-width: 1024px) {
        padding-top: 94px;
    }
}

.common-title {
    font-size: $font-size-large;
    color: $orange;
}

.common-subtitle {
    color: $red;
}

.p-underline {
    text-decoration: underline;
    margin-bottom: 0;
}

.classes-events-exhibits {
    padding: 50px 0;

    h4 {
        font-size: $font-size-large;
        line-height: 2.5rem;
        margin-bottom: 36px;
    }

    .flex-container {
        display: flex;
        gap: 50px;

        .classes {
            flex: 1 1 0;

            h4 {
                color: $orange;
            }

            .classes-content {
                color: $orange;

                div {
                    cursor: pointer;
                    margin-bottom: 36px;

                    span {
                        font-size: $font-size-medium;
                        line-height: 1.25;
                    }

                    p {
                        font-size: 1.2rem;
                        margin: 0;
                    }
                }
            }
        }

        .exhibits-home {
            flex: 1 1 0;

            h4 {
                color: $dark-blue;
            }

            .exhibits-content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;

                div {
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.5s ease-in-out;
                    }

                    span {
                        display: block;
                        margin-top: 10px;
                        font-size: 1.5rem;
                        line-height: 1.25;
                        color: $dark-blue;
                        font-weight: bold;
                        transition: color 0.3s ease-in-out;
                    }

                    &:hover {
                        img {
                            transform: scale(1.05);
                        }

                        span {
                            color: $light-blue;
                        }
                    }
                }

                @media (max-width: 768px) {
                    gap: 1rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .flex-container {
            flex-direction: column;
        }
    }
}

.sponsors {
    overflow: hidden;
    position: relative;

    .sponsors-title {
        font-size: $font-size-large;
        line-height: 2.5rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .sponsors-slider {
        display: inline-block;
        white-space: nowrap;
        animation: scroll 60s linear infinite;
    }

    .slider-img {
        display: inline-block;
        margin: 0 20px;
        height: 80px;

        img {
            height: 100%;
            width: auto;
        }
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }
}

.visit {
    color: $black;
    padding-top: 30px;

    .visit-admission {
        line-height: 1.5;
    }

    li {
        line-height: 1.5;
    }

    .visit-location-map-container {
        display: flex;
        gap: 50px;

        ul {
            flex: 1 0 50%;
        }

        //class for map info window
        .info-window-location {
            font-weight: bold;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

}

.know-before-you-go {
    padding-top: 30px;

    li,
    p {
        line-height: 1.5;
    }
}

.weekly-classes {
    padding-top: 30px;

    .p-underline {
        font-weight: bold;
        color: $dark-blue;
    }

    .weekly-classes-btn-container {
        padding: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            background-color: $dark-blue;
            border-radius: 8px;
            overflow: hidden;

            a {
                font-family: $font-secondary;
                font-size: $font-size-small-medium;
                letter-spacing: 1px;
                padding: 12px 24px;
                display: block;
                color: $white;
                text-decoration: none;
                width: 100%;
                height: 100%;
                transition: background-color 0.4s;

                &:hover {
                    background-color: $light-blue;
                }
            }
        }
    }

    .weekly-classes-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;

        .weekly-classes-item-container {
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 15px;

            img {
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                max-width: 300px;
            }

            .common-subtitle {
                font-weight: bold;

            }
        }
    }
}

.exhibits {
    padding-top: 30px;

    .exhb-subtitles {
        font-size: $font-size-medium;
        color: $dark-blue;
        margin-top: 40px;
        margin-bottom: 26px;
    }

    .p-underline {
        font-weight: bold;
        color: $dark-blue;
    }

    .common-subtitle {
        font-weight: bold;
    }

    section {
        padding-bottom: 20px;
    }
}

.calendar {
    padding-top: 30px;

    .p-underline {
        font-weight: bold;
        color: $dark-blue;
    }
}

.rsvp {
    padding-top: 30px;

    .rsvp-subtitles {
        font-size: $font-size-medium;
        color: $dark-blue;
        margin-top: 40px;
        margin-bottom: 26px;
        text-transform: uppercase;
    }

    p {
        span {
            color: $red;
        }
    }
}

.party {
    padding-top: 30px;

    .party-two-columns {
        display: flex;
        gap: 70px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 0;
        }
    }

    .party-two-columns>div:first-child {
        flex: 70;
    }

    .party-two-columns>div:last-child {
        flex: 30;

        ul {
            list-style-type: none;
            padding-left: 25px;
        }

        li {
            position: relative;

            span {
                text-decoration: underline;
            }
        }

        li::before {
            content: "- ";
            position: absolute;
            left: -10px;
        }
    }

    .party-images-section {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        .party-image-container {
            flex: 1;
            border-radius: 10px;
            overflow: hidden;
            margin: 0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 0;
            border: 0;
            line-height: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    .party-subtitles {
        font-size: $font-size-medium;
        color: $dark-blue;
        margin-top: 40px;
        margin-bottom: 26px;
        text-transform: uppercase;
    }

    .p-underline {
        font-weight: bold;
        color: $dark-blue;
    }

    .request-party-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: block;
            width: 100%;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            font-size: $font-size-small-medium;
            background-color: $orange;
            padding: 16px 30px;
            transition: background-color 0.3s;

            &:hover {
                background-color: $orange-btn-hover;
            }
        }
    }
}

.education {
    .education-subtitles {
        font-size: $font-size-medium;
        color: $dark-blue;
        margin-top: 40px;
        margin-bottom: 26px;
        text-transform: uppercase;
    }

    .p-underline {
        font-weight: bold;
        color: $dark-blue;
    }

    .education-flex-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    .education-flex-container>div:last-child {
        margin-top: 40px;

        p {
            margin-top: 0;
        }
    }

    .education-request-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: block;
            width: 100%;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            font-size: $font-size-small-medium;
            background-color: $orange;
            padding: 16px 30px;
            transition: background-color 0.3s;

            &:hover {
                background-color: $orange-btn-hover;
            }
        }
    }

    .field-Trip-pricing {
        list-style: none;
        padding-left: 30px;
    }

    .q-a-section {
        list-style: none;
        padding-left: 25px;
    }

    .education-padding {
        padding-top: 30px;
    }

    .education-container-two-columns {
        display: flex;
        gap: 30px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 0;
        }
    }

    .education-container-two-columns>div:first-child {
        flex: 50;
    }

    .education-container-two-columns>div:last-child {
        flex: 50;
    }
}

.about {
    padding-top: 30px;

    .about-subtitles {
        font-size: $font-size-medium;
        color: $dark-blue;
        margin-top: 40px;
        margin-bottom: 16px;
    }

    .h4-margin {
        margin-top: 50px;

        @media (max-width: 768px) {
            margin-top: 25px;
        }
    }

    .p-underline {
        font-weight: bold;
        color: $dark-blue;
    }

    b {
        color: $dark-blue;
        font-size: 20px;
    }

    .about-board-directors {
        display: flex;
        gap: 50px;

        p {
            margin: 0;

            &:first-child,
            :nth-child(5) {
                margin: 16px 0;
            }
        }

        span {
            display: block;
            margin-bottom: 16px;
        }

        @media (max-width: 460px) {
            gap: 20px;
        }
    }

    .about-team-people-container {
        display: flex;
        gap: 50px;
        margin-bottom: 50px;

        .about-person-container {
            display: flex;
            gap: 20px;

            .about-person-img {
                max-width: 100px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            p {
                margin: 0;
                min-width: 265px;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
            margin-bottom: 0;
            margin-top: 20px;
        }
    }

    .employ-app-form {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: block;
            text-transform: uppercase;
            color: $white;
            text-align: center;
            font-size: $font-size-small-medium;
            background-color: $orange;
            padding: 16px 30px;
            transition: background-color 0.3s;

            &:hover {
                background-color: $orange-btn-hover;
            }
        }
    }

    .visit-location-map-container {
        display: flex;
        flex-direction: row;
        gap: 50px;

        div {
            flex: 50;
        }

        #map {
            min-height: 400px;
        }

        @media (max-width: 768px) {
            flex-direction: column;

            div {
                flex: 100;
            }
        }
    }
}

.join {
    padding-top: 30px;

    b {
        color: $dark-blue;
        font-size: 20px;
    }

    .p-underline {
        font-weight: bold;
        color: $dark-blue;
    }

    .flex-container-three-items {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;

        .acm-logo-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 250px;
                width: 100%;
            }
        }

        @media (max-width: 1024px) {
            gap: 10px;
        }
    }

    .flex-container-three-items>div {
        flex: 33;
        min-width: 300px;
    }

    p {
        svg {
            margin-left: 7px;
            margin-bottom: 7px;
            fill: $orange;
            transition: transform 0.3s ease;
        }

        .rotate-chevrone {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
        }
    }

    p.rotate-chevrone {
        svg {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
        }
    }
}