$orange: #ED7A1F;
$light-blue: #95CDE7;
$white: #FBFDFB;
$red: #ba2c36;
$dark-blue: #008CD2;
$black: #1C0F0C;
$orange-btn-hover: #ec6b02;
$text-grey: #59595C;

$font-primary: 'Kozuka Gothic Pro M', sans-serif;
$font-secondary: 'Kozuka Gothic Pro H', sans-serif;

$font-size-large: 2.25rem; // Used in h4 titles
$font-size-medium: 1.5rem; // Used in item titles
$font-size-small-medium: 1.325rem; // Used in footer h4
$font-size-small: 1.125rem; // Used in footer links and daily schedules
$font-size-base: 1rem; // Default size for body content and button text
$font-size-x-large: 1.875rem;