$orange: #ED7A1F;
$light-blue: #95CDE7;
$white: #FBFDFB;
$red: #ba2c36;
$dark-blue: #008CD2;
$black: #1C0F0C;

$font-primary: 'Kozuka Gothic Pro M', sans-serif;
$font-secondary: 'Kozuka Gothic Pro H', sans-serif;